.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 4rem;
    height: auto;
    margin-top: 1.5rem;
    background-color: var(--admin_dark);
}

.footer a{
    text-decoration: none;
}

.secondary{
    background-color: var(--company_dark);
}

.accent{
    background-color: var(--user_dark);
}

.yavuzlar_logo{
    width: 3rem;
    height: 3rem;
    margin-top: .5rem;
}

.footer_obj {
    font-size: small;
    margin: .5rem 1.5rem 0 2.5rem;
    color: #303030;
}

.under_div{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.under_div div{
    display: flex;
}

.under_div div p {
    margin-top: .75rem;
}

.under_div p {
    margin-top: 0rem;
}