.admin_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #d59b41;
  margin-bottom: 1.5rem;
}

.company_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #59dbc5;
  margin-bottom: 1.5rem;
}

.user_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #88e5a0;
  margin-bottom: 1.5rem;
}

.header_obj {
  margin-right: 1rem;
}

.profile_photo {
  width: 3rem;
  height: 3rem;
  margin: 0 2.5rem 0 1rem;
}

.logout_btn {
  margin-top: 1rem;
  margin-right: 1rem;
  justify-self: end;
  background-color: #ffffff00;
}

.user_header .header_obj button,
.admin_header .header_obj button,
.company_header .header_obj button {
  background-color: #ffffff00;
}
