.admin_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--admin);
  margin-bottom: 1.5rem;
}

.company_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--company);
  margin-bottom: 1.5rem;
}

.user_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--user);
  margin-bottom: 1.5rem;
}

.header_obj {
  margin-right: 1rem;
}

.profile_photo {
  width: 3rem;
  height: 3rem;
  margin: 0 2.5rem 0 1rem;
}

.logout_btn {
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  background-color: #ffffffa6;
  cursor: pointer;
}

.user_header .header_obj button,
.admin_header .header_obj button,
.company_header .header_obj button {
  background-color: #ffffff00;
}
