:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --admin: #eb5654;
  --admin_dark: #c04745;
  --company: #eba228;
  --company_dark: #e29d26;
  --user: #ff963b;
  --user_dark: #d59057;
}

body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  background-color: #fcf7f1;
}

button {
  height: 2rem;
  min-width: 5rem;
  background-color: var(--admin);
  cursor: pointer;
  border: none;
  padding: 0.5rem;
}

button:hover {
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.637);
  scale: 1.0625;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food_div {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--admin);
}

.login {
  text-align: center;
  position: relative;
  display: flex;
  padding: 1.5rem;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.t0 {
  border: 1px solid var(--admin);
}

.b0 button,
.t0 button {
  background-color: var(--admin);
}

.t1 {
  border: 1px solid var(--company);
}

.b1 button,
.t1 button {
  background-color: var(--company);
}

.t2 {
  border: 1px solid var(--user);
}

.b2 button,
.t2 button {
  background-color: var(--user);
}

.login_logo {
  width: 256px;
  height: 256px;
  background-color: var(--admin);
  margin-bottom: 0.5rem;
}

.login_logo .t1 {
  background-color: var(--company);
}

.login_logo .t2 {
  background-color: var(--user);
}

.container_obj {
  margin-bottom: 1rem;
}

.dataDiv {
  margin: 0 1.5rem 0 1.5rem;
  height: 4.5rem;
  max-height: 6rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.foodSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.foodDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.5rem;
}

.imageContainer .foodPhoto,
.medPhoto {
  height: 128px;
  width: 128px;
}

.imageContainer {
  height: 128px;
  width: 128px;
  position: relative;
}

.discount {
  font-weight: 600;
  position: absolute;
  bottom: -1rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.315);
}

.highlight2 {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  min-width: 5rem;
  max-width: 6rem;
  background-color: var(--user);
}

.description {
  font-size: 0.70rem;
  color: rgb(80, 80, 80);
}

.cleanText {
  text-decoration: none;
}

.dataDiv p,
.dataDiv a,
.dataDiv img,
.dataDiv button {
  flex: 1;
  text-align: center;
  margin: 0 5px;
}

.company_logo,
.food_photo {
  max-width: 64px;
  height: auto;
  object-fit: cover;
}

.dataTable{
  text-align: center;
  border-collapse:collapse;
}

.dataTable th, .dataTable td{
  margin: 0 0.5rem 0 0.5rem;
  padding: .5rem;
}

.dataTable form{
  margin-top: 1rem;
}